body {
	background-color: #e0e1e2;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	color: white;
    text-shadow: 1px 1px 2px black, 0 0 5px blue, 0 0 5px darkblue;
    text-align: center;
}
.opponentRating {
	width: 168.8px;
}

#wrapper {
	display: grid;
	grid-template-rows; rows;
	grid-gap: 15px;
	justify-content: space-evenly;
}

.originalRating {
	display: grid;
}

.eventScore {
	display: grid;
}

.oppRatings {
	display: grid;
}

.kFactor {
	display: grid;
}

.submit {
	display: grid;
	width: 172.8px;
}

#updatedRating {
	display: grid;
	width: 172.8px;
}
